[LLM]

; OLLAMA
openai_api_key = ollama
openai_base_url = http://localhost:11434/v1
openai_model = qwen2.5-coder:7b

; OPENAI
; openai_model = gpt-3.5-turbo
; openai_api_key = 
; openai_base_url = https://api.openai.com/v1
; 
; DEEPSEEK
; openai_model = qwen3-max-2025-09-23
; openai_api_key = 
; openai_base_url = https://api.deepseek.com/v1

; DASHSCOPE
; openai_model = qwen3-max-2025-09-23
; openai_api_key = 
; openai_base_url = https://dashscope.aliyuncs.com/compatible-mode/v1

; HUNYUAN
; openai_model = hunyuan-turbos-latest
; openai_api_key = 
; openai_base_url = https://api.hunyuan.cloud.tencent.com/v1

llm_temperature = 0.7

[SEARCH]
llm_max_tokens = 2000
n_iterations = 10
min_heuristics_per_iter = 50
max_heuristics_per_iter = 100
early_pruning_threshold = 1.5
large_scale_threshold = 4.0
api_call_delay = 2.0
max_retries = 4
max_parallel_calls = 5

